.pop-up__input_type_submit-profile {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: block;
  margin: 48px auto 0;
  width: 358px;
  height: 50px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.pop-up__input_type_submit-profile:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .pop-up__input_type_submit-profile {
    margin: 45px auto 0;
    width: 238px;
    height: 46px;
  }
}
