.pop-up__input_type_job {
  display: block;
  border: none;
  margin: 30px auto 0;
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 600px) {
  .pop-up__input_type_job {
    width: 238px;
    margin: 30px auto 0;
    font-size: 14px;
    line-height: 17px;
  }
}
